---
layout: page.njk
---
<div class="content-width" style="padding-top: 2rem;">
  <h1>{{ title }}</h1>
  <p class="page-updated-meta">Published: {{ page.date | readableDate }}</p>
</div>
{{ content | safe }}
